---
import Base from "../layouts/Base.astro";
---

<Base>
	<div class="navbar bg-base-100">
		<div class="mx-auto hidden lg:flex">
			<ul class="menu menu-horizontal px-1">
				<li><a>Item 1</a></li>
				<li tabindex="0">
					<a>
						Parent
						<svg
							class="fill-current"
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							><path
								d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
							></path></svg
						>
					</a>
					<ul class="p-2">
						<li><a>Submenu 1</a></li>
						<li><a>Submenu 2</a></li>
					</ul>
				</li>
				<li><a>Item 3</a></li>
			</ul>
		</div>
	</div>
	<div
		class="hero min-h-screen"
		style="background-image: url(/images/stock/photo-1507358522600-9f71e620c44e.jpg);"
	>
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="max-w-md">
				<h1 class="mb-5 text-5xl font-bold">Hello there</h1>
				<p class="mb-5">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut
					assumenda excepturi exercitationem quasi. In deleniti eaque
					aut repudiandae et a id nisi.
				</p>
				<button class="btn btn-primary">Get Started</button>
			</div>
		</div>
	</div>
</Base>
